In [36]:
import yfinance as yf
import matplotlib as plt 
import os
import pandas as pd

In [37]:
ticker = "AAPL"
startDate = "2020-01-01"
endDate = "2024-02-20"

data = yf.download(ticker, start=startDate, end=endDate)
print(data)

/home/daniel/.local/lib/python3.10/site-packages/yfinance/utils.py:775: FutureWarning:

The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2020-01-02   74.059998   75.150002   73.797501   75.087502   73.059433
2020-01-03   74.287498   75.144997   74.125000   74.357498   72.349129
2020-01-06   73.447502   74.989998   73.187500   74.949997   72.925652
2020-01-07   74.959999   75.224998   74.370003   74.597504   72.582649
2020-01-08   74.290001   76.110001   74.290001   75.797501   73.750237
...                ...         ...         ...         ...         ...
2024-02-12  188.419998  188.669998  186.789993  187.149994  187.149994
2024-02-13  185.770004  186.210007  183.509995  185.039993  185.039993
2024-02-14  185.320007  185.529999  182.440002  184.149994  184.149994
2024-02-15  183.550003  184.490005  181.350006  183.860001  183.860001
2024-02-16  183.419998  184.850006  181.669998  182.309998  182.309998

               Volume
Date
2020-01-02  135480400
2020-01-03  146322800
2020-01-06  118387200
2020-01-07  108872000
2020-01-08  132079200
...               ...
2024-02-12   41781900
2024-02-13   56529500
2024-02-14   54630500
2024-02-15   65434500
2024-02-16   49701400

[1039 rows x 6 columns]

In [38]:
df = pd.DataFrame(data)
df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  74.059998  75.150002  73.797501  75.087502  73.059433  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  72.349129  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  72.925652  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  72.582649  108872000
2020-01-08  74.290001  76.110001  74.290001  75.797501  73.750237  132079200

In [39]:
df['date'] = pd.to_datetime(df.index)
df.head()

,Open,High,Low,Close,Adj Close,Volume,date
Date,,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,73.059433,135480400,2020-01-02
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.349129,146322800,2020-01-03
2020-01-06,73.447502,74.989998,73.187500,74.949997,72.925652,118387200,2020-01-06
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.582649,108872000,2020-01-07
2020-01-08,74.290001,76.110001,74.290001,75.797501,73.750237,132079200,2020-01-08

In [40]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Candlestick(x=df['date'], open=df['Open'], close=df['Close'], high=df['High'], low=df['Low'])])
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed